{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Cairn 2e Assistant{% endblock title %}
{% block content %}
<h1>Welcome to the Cairn 2e Assistant</h1>

<p>Cairn is an adventure game about exploring a dark & mysterious Wood filled with strange folk, hidden treasure, and unspeakable monstrosities. Character generation is quick and random, classless, and relies on fictional advancement rather than through XP or level mechanics. It is based on Knave by Ben Milton and Into The Odd by Chris McDowall. The game was written by Yochai Gal.
</p>
<p>The PDF version is available for free on Itch.io & DriveThruRPG.</p>


<p>This tool is developped independently from the game, and is provided "as is".</p>
{% endblock content %}
